

#ourHistory.page {
    flex-direction: column;
}
#ourHistory.page .pageHeader {
    width: 100%;
    flex-direction: column;
}
#ourHistory.page .headerText {
    height: 210px;
    width: 100%;
    background-size: cover;
    filter: brightness(0.5);
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white);
    padding: 1em;
}

#ourHistory.page .headerText ul,
#ourHistory.page .headerText li, 
#ourHistory.page .headerText h1 {
    margin: 0;
    padding: 0;
}

.headerText {
    background-image: url('/images/header-our-history.png');
}

#ourHistory.page .columns {
    flex-direction: column;
    padding: 16px;
}

#ourHistory.page .column {
    flex-direction: column;
}

#ourHistory.page .column h2 {
    margin: 0;
    margin-top: .75em;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    font-size: 35px;
    font-weight: bold;
    color: var(--gray5);
}

#ourHistory.page .column h2.green {
    border-bottom-color: var(--green);
}

#ourHistory.page .column h2.gray {
    border-bottom-color: var(--grayC);
}

#ourHistory.page .column h2.red {
    border-bottom-color: var(--red);
}

#ourHistory.page p {
    margin: 0;
    font-size: 18px;
    color: var(--gray5);
    margin-bottom: 1em;
}

#ourHistory.page figure {
    margin: 0;
    flex-direction: column;
}

#ourHistory.page figure img {
    width: 100%;
}

#ourHistory.page figcaption {
    width: 100%;
    color: var(--gray6);
    font-size: 35px;
    padding: 16px;
    font-weight: bold;
}

#ourHistory.page figcaption small {
    font-size: 30px;
    display: block;
    font-weight: 400;
}

#ourHistory.page .text {
    padding: 0 16px;
    flex-direction: column;
}

#ourHistory.page .ceo {
    flex-direction: column;
}

@media (min-width: 576px) {
    #ourHistory.page .headerText {
        background-image: url('/images/header-our-history@2x.png');
    }
}

@media (min-width: 992px) {
    #ourHistory.page .columns {
        flex-direction: row;
    }
    #ourHistory.page .column {
        margin: 4em;
    }
    #ourHistory.page .headerText {
        background-image: url('/images/header-our-history@3x.png');
        background-position: 0px -24vw;
    }
    #ourHistory.page .ceo {
        flex-direction: row;
    }
    #ourHistory.page .ceo > figure,
    #ourHistory.page .ceo > section {
        flex: 1;
    }
    #ourHistory.page .ceo .text {
        margin-top: 150px;
    }
    #ourHistory.page .ceo .text p {
        margin-left: 35px;
    }
    #ourHistory.page .ceo > figure {
        position: relative;
    }
    #ourHistory.page .ceo figcaption {
        position: absolute;
        top: 0;
        right: -50vw;
    }
}

@media (min-width: 1200px) {
    #ourHistory.page .headerText {
        background-position: 0px -30vw;
    }
}

@media (prefers-color-scheme: dark) {
    #ourHistory.page .column h2.gray {
        border-bottom-color: var(--black);
    }
}