.card {
    justify-content: space-between;
    max-width: 436px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: var(--white);
}

.card-content {
    padding: 10px 20px;
    align-items: center;
    flex-direction: column;
}

.actions {
    justify-content: flex-end;
    background-color: var(--grayF);
    width: 100%;
    padding: 20px 20px 20px 0;
}

.actions button {
    border: none;
    background: var(--white);
    text-transform: uppercase;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 16px;
}

@media (min-width: 576px) {
    .card {
        flex: 1;
        max-width: 360px;
        margin-left: 15px;
    }
}

@media (min-width: 992px) {
    .card {
        margin: 30px 5px;
    }
}