#footer {
    background-color: inherit;
    flex-direction: column;
    align-items: center;
}

#footer .rights {
    font-weight: bold;
}

@media (min-width: 992px) {
    #footer {
        width: 300px;
        position: absolute;
        bottom: 0;
        background: none;
        color: var(--white);
    }
}