#header {
    height: 90px;
}

#header button {
    background: none;
    border: none;
    padding: 13px;
    outline: none;
}

#header .logo {
    z-index: 2;
}

#btn-open, #btn-close {
    position: absolute;
    right: 0;
}

#header .menu {
    background-color: var(--dark);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    position: fixed;
    right: -300px;
}

.header-top {
    flex-direction: column;
}

.logo {
    padding: 15px 0;
    margin: 0 auto;
    align-items: center;
}

.user-info {
    align-items: center;
    flex-direction: column;
    margin-top: 22px;
    padding: 27px 0;
    border-bottom: 1px solid var(--gray4);
    border-top: 1px solid var(--gray4);
}

.user-photo {
    width: 100px;
    height: 100px;
}

.user-info h2, .user-info p {
    color: var(--white);
}

.user-info h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.user-info p, .user-info a {
    font-weight: 600;
}

.user-info a, .links a {
    color: var(--grayD);
    text-decoration: none;
    text-transform: uppercase;
}

.links {
    flex-direction: column;
    padding: 0;
}

.links .link {
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray4);
}

.links img {
    padding: 0 14px;
}

.links a {
    margin-left: 14px;
}

@media (min-width: 992px) {
    #header .menu {
        left: 0;
    }

    .logo {
        margin: 0;
        width: 300px;
    }

    .logo #btn-open {
        right: calc(100vw - 370px);
    }

    #header {
        height: 60px;
        background-color: var(--white);
    }

    .user-info {
        margin-top: 60px;
    }
}