#home {
    background-color: inherit;
}

#home h1 {
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: 400;
}

.users {
    margin-top: 20px;
    flex-direction: column;
    padding: 0;
}

.user {
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
}

.user-info {
    padding: 10px 5px 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.user-data {
    flex-direction: column;
}

.user-data h2, .user-data p {
    margin: 5px 0;
}

.user-data h2 {
    font-size: 32px;
    font-weight: 400;
}

.user-data p {
    font-size: 15px;
}

.user-photo {
    height: 150px;
}

.actions {
    justify-content: flex-end;
    background-color: var(--grayF);
    width: 100%;
    padding: 20px 20px 20px 0;
}

.actions button {
    border: none;
    background: var(--white);
    text-transform: uppercase;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 16px;
}