#home {
    background-color: inherit;
}

#home h1 {
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: 400;
}

.users {
    margin-top: 20px;
    flex-direction: column;
    padding: 0;
}

.user-info {
    justify-content: space-between;
    width: 100%;
}

.user-data {
    flex-direction: column;
}

.user-data h2, .user-data p {
    margin: 5px 0;
}

.user-data h2 {
    font-size: 32px;
    font-weight: 400;
}

.user-data p {
    font-size: 15px;
}

.user-photo {
    height: 120px;
}

@media (min-width: 576px) {
    #home {
        flex-direction: column;
    }

    #home .users {
        flex-direction: row;
        flex-wrap: wrap;
    }
}